@import "node_modules/lbox-shared/assets/styles/utils/variables";

//.iframe-container {
//  max-width: 100%;
//  padding-top: 56.25%;
//  position: relative;
//  width: 100%;
//
//  iframe {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//  }
//}

$data-height: calc(100vh - $lb-menu-height);
$media-container-padding: 0px;

.file-block {
  display: flex;
  flex-direction: column;
  height: $data-height;
  max-height: $data-height;
}

.media-block {
  //border:1px solid green;
  flex-grow: 1;

  .media-container {
    //border: 1px solid red;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: $media-container-padding;

    .media {
      //border: 1px solid yellow;
      position: absolute;
      max-height: calc(100% - 2 * $media-container-padding);
      max-width: calc(100% - 2 * $media-container-padding);
    }
  }
}
